* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", serif;
  background-color: whitesmoke;
}

button {
  width: clamp(100px, 10vw, 200px);
  height: clamp(40px, 10vw, 50px);
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.8s ease;
}
/* ----------BASIC UI----------- */
.btn-red {
  background-color: rgb(211, 50, 50);
  border: none;
}

.btn-red:hover {
  background-color: rgb(169, 40, 40);
}

.title {
  text-align: center;
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 600;
  margin-bottom: 28px;
  position: relative;
  color: #292d36;
}

.title:before {
  content: "";
  width: 78px;
  height: 4px;
  background-color: red;
  position: absolute;
  top: -40%;
  left: 50%;
  transform: translateX(-50%);
}

.sub-heading {
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 600;
  margin-bottom: 28px;
  position: relative;
  color: #292d36;
  display: inline-block;
}

.sub-heading::before {
  content: "";
  width: 78px;
  height: 4px;
  background-color: red;
  position: absolute;
  top: -20%;
  left: 0;
}

.gray-effect::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.189);
  z-index: 1;
}

/* -----------NAV-------- */
nav {
  display: flex;
  box-shadow: 0px 0.1px 4px 2px rgba(128, 128, 128, 0.205);
  justify-content: space-around;
  min-height: 80px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo p {
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 2px;
  color: rgb(62, 62, 62);
}

.logo-img {
  max-width: 50px;
  max-height: 50px;
  overflow: hidden;
}

.logo-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-items {
  display: flex;
  gap: 36px;
  list-style: none;
  align-items: center;
  font-family: "Lato", serif;
  font-weight: 500;
  color: rgb(99, 99, 99);
}

.nav-items li {
  cursor: pointer;
  position: relative;
}

.nav-items li::before {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  width: 0%;
  height: 14px;
  background-color: rgb(255, 0, 0);
  transition: 400ms;
}

.nav-items li:hover::before {
  width: 100%;
}

/* -------------NAV - MENU-------------- */
.menu {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}

.menu div {
  width: 30px;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.659);
  margin: 2px 0;
  transition: transform 0.5s ease, opacity 0.3s ease;
}

.menu.active .line-2 {
  opacity: 0;
}

.menu.active .line-1 {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu.active .line-3 {
  transform: rotate(-45deg) translate(5px, -5px);
}

.menu-content {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: white;
  display: none;
  transform: scale(0.5);
  transition: opacity 3s ease;
  position: fixed;
  top: -20;
  z-index: 100;
  width: 100%;
}

.menu-content.active {
  display: block;
  transform: scale(1);
}

.menu-content ul {
  list-style: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menu-content ul li {
  cursor: pointer;
}

/* --------------Home Page---------- */
.home-page {
  background-image: url("/images/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 95vh;
  min-height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  z-index: 2;
}

.home-text {
  text-align: center;
  color: rgb(237, 237, 237);
}

.home-text h1 {
  font-size: clamp(2rem, 8vw, 4rem);
  margin-bottom: 18px;
  font-weight: 600;
}

.home-text p {
  font-size: clamp(12px, 2vw, 1rem);
  margin-bottom: 18px;
  font-weight: 400;
  max-width: 900px;
}

.home-btn-container {
  display: flex;
  gap: 20px;
}

.btn-learn-more {
  background-color: rgba(0, 0, 0, 0);
  border: white 2px solid;
}

.btn-learn-more:hover {
  background-color: rgba(215, 215, 215, 0.325);
}

/* -------Courses Page------------ */
.courses-page {
  padding: 100px;
}

.courses-page p {
  margin-bottom: 48px;
  text-align: center;
  color: rgb(77, 77, 77);
}

.courses-container {
  display: flex;
  gap: 2rem;
}

.course {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 780px;
}

.course h3 {
  font-size: clamp(14px, 6vw, 22px);
}

.course h3,
.course p {
  text-align: left;
}

.course-image {
  overflow: hidden;
  object-fit: cover;
  height: 320px;
  width: 100%;
  border-radius: 6px;
  position: relative;
}

.course-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* --------About Page--------- */
.about-page {
  margin: 20px 0;
}

.experience {
  display: flex;
  gap: 1.4em;
  align-items: center;
  position: relative;
  min-height: 890px;
}

.experience-title {
  position: absolute;
  z-index: 10;
  top: 10%;
  left: clamp(30%, 10vw, 50%);
  background-color: white;
  padding: 0.1em;
  font-size: clamp(1.2rem, 4vw, 4rem);
  font-style: italic;
  font-weight: 600;
  color: #292d36;
  text-transform: uppercase;
}

.experience-image {
  overflow: hidden;
  max-width: 800px;
  position: relative;
}

.experience-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 0 60px 0;
}

.experience-image::after {
  border-radius: 0 0 60px 0;
}

.experience-text {
  transform: translateY(30%);
  min-width: 460px;
  margin: 0 20px;
}

.experience-text p {
  margin-bottom: 22px;
  max-width: 440px;
  color: #444852;
  line-height: 26px;
}

.stats {
  background-image: url("/images/stats-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stats::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.505);
  z-index: 1;
}
.counter-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  padding: 2vw;
  align-items: center;
  z-index: 2;
  color: rgb(255, 255, 255);
  text-align: center;
  width: 80%;
}
.counter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  margin: 12px;
  font-size: clamp(8px, 6vw, 22px);
}
.counter-num {
  font-weight: 900;
  font-size: clamp(0.8rem, 6vw, 3rem);
}

.counter-icon {
  height: 100px;
  width: 100px;
  overflow: hidden;
  align-self: center;
}

.counter-icon img {
  height: 100%;
  width: 100%;
  object-fit: fill;
  filter: invert(1);
}

/* --------------MEDIA QUERY------------ */
@media (max-width: 1040px) {
  .sub-heading::before {
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
  }

  .courses-container {
    flex-direction: column;
  }

  .experience {
    flex-direction: column;
    align-items: center;
    min-height: 0px;
    margin-bottom: 100px;
  }

  .experience-image {
    display: none;
  }

  .experience-title {
    position: static;
    font-size: clamp(1.2rem, 8vw, 4rem);
  }

  .experience-text {
    min-width: 0;
    transform: translateY(0%);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-align: center;
  }

  .experience-text p {
    margin: 22px auto;
    text-align: left;
  }
}

@media (max-width: 800px) {
  .counter-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .counter {
    font-size: clamp(8px, 4vw, 22px);
  }

  .counter-num {
    font-weight: 900;
    font-size: clamp(8px, 4vw, 22px);
  }

  .counter-icon {
    height: 50px;
    width: 50px;
  }
}

@media (max-width: 720px) {
  .nav-items {
    display: none;
  }

  .menu {
    display: flex;
  }

  .course-image {
    height: 100%;
  }
}

@media (max-width: 500px) {
  .courses-page {
    padding: 100px 10px;
  }

  .experience-text p {
    padding: 0 2.2vw;
  }

  .experience-text h2 {
    font-size: clamp(1.2rem, 8vw, 4rem);
  }

  .experience-text h2,
  .experience-text p {
    margin: 10px;
  }
}

@media (max-width: 300px) {
  .home-btn-container {
    flex-direction: column;
  }
}
